#one{
       background-color:#FF671F;
       height: 33.3333vh;
       width: 100vw;
}
#two{
    background-color: #FFFFFF;
    height: 33.3333vh;
    width: 100vw;
}
#three{
    background-color: #046A38;
    height: 33.3333vh;
    width: 100vw;
}